/* Reset de estilos para remover margens e preenchimentos padrão */
body, h1, h2, ul, li, form, label, input, select {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
}

.listagem {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilizar o cabeçalho principal */
header, .navbar {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Estilizar os formulários */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.label-group {
    flex: 1;
    text-align: right;
    padding-right: 10px;
}

.input-group {
    flex: 2;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], .select_genero {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

/* Estilizar os títulos das seções */
h2 {
    font-size: 28px;
    margin-top: 20px;
    color: #333;
}

/* Estilizar links (se houver) */
a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #0056b3;
}

/* Estilizar o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilizar botões */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.campo-invalido {
    border: 1px solid red;
    color: red;
}

/* Estilizar a tabela */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
}

.table th,
.table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #007BFF;
    color: #fff;
}

/* Estilizar o navbar */
.navbar {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin: 0 20px;
}

.navbar a:hover {
    text-decoration: underline;
}

.pagination-links {
    margin-top: 20px;
}

.pagination-links nav ul.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.pagination-links nav ul.pagination li {
    margin: 0 5px;
    display: inline-block;
    font-size: 14px;
}

.pagination-links nav ul.pagination li a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
}

.pagination-links nav ul.pagination li.active a {
    background-color: #007BFF;
    color: #fff;
    border: 1px solid #007BFF;
}

.pagination-links nav ul.pagination li.disabled a {
    pointer-events: none;
    color: #ccc;
}

.pagination-links ul.pagination {
    list-style: none; /* Remove as marcas de lista padrão */
    padding: 0; /* Remove o preenchimento padrão da lista */
    display: flex; /* Para tornar os itens da lista horizontais */
    justify-content: center; /* Para centralizar os itens horizontalmente */
}

.pagination-links ul.pagination li {
    margin: 0 5px; /* Espaçamento entre os elementos <li> */
}

.readonly-field {
    background-color: #f2f2f2; /* Define a cor de fundo desejada */
    color: red; /* Define a cor do texto desejada */
    border: 1px solid #ccc; /* Define a borda desejada */
    /* Outros estilos personalizados, se necessário */
}
