/* Reset de estilos para remover margens e preenchimentos padrão */
body, h1, h2, ul, li, form, label, input, select {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilizar o cabeçalho principal */
header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Estilizar os formulários */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.label-group {
    flex: 1;
    text-align: right;
    padding-right: 10px;
}

.input-group {
    flex: 2;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.select_genero {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

/* Estilizar os títulos das seções */
h2 {
    font-size: 28px;
    margin-top: 20px;
    color: #333;
}

/* Estilizar links (se houver) */
a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #0056b3;
}

/* Estilizar o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilizar botões */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.campo-invalido {
    border: 1px solid red;
}


